#app {
  .sidebar-container {
    transition: width 0.28s;
    width: $sideBarWidth;
    background-color: #304156;
    height: 100%;
    position: fixed;
    font-size: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar {
      height: 100%;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .svg-icon {
      margin-right: 16px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }

    .submenu-title-noDropdown,
    .el-submenu__title {
      &:hover {
        background-color: $menuHover !important;
      }
    }

    .is-active > .el-submenu__title {
      color: $subMenuActiveText !important;
    }

    & .el-submenu .el-menu-item {
      min-width: $sideBarWidth !important;
      background-color: $subMenuBg !important;

      &:hover {
        background-color: $subMenuHover !important;
      }
    }
  }

  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: $sideBarWidth;
    position: relative;
  }

  .hide-sidebar {
    .sidebar-container {
      width: $sideBarCollapseWidth;
    }

    .el-menu {
      .el-submenu {
        & > .el-submenu__title {
          span,
          .el-submenu__icon-arrow {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }

    .main-container {
      margin-left: $sideBarCollapseWidth;
    }
  }
}
