$sideBarWidth: 210px;
$sideBarCollapseWidth: 56px;

$menuBg:#304156;
$menuHover: #263445;

$subMenuBg:#1f2d3d;
$subMenuHover: #001528;

$subMenuActiveText: #f4f4f5;

:export {
  sideBarWidth: $sideBarWidth;
  sideBarCollapseWidth: $sideBarCollapseWidth;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  subMenuActiveText: $subMenuActiveText;
}
